


body{
    margin: 0px;
    background-color: #121919;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Nav Bar */


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


  



.headerlogo{
    width: 115px;
    padding: 15px;
    filter: invert(26%) sepia(28%) saturate(1199%) hue-rotate(137deg) brightness(97%) contrast(97%);
    cursor: pointer;
}


.nav-links{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(180, 180, 180);

}

.nav-links:hover{
    color: #06f7f7;
}

#button{
    text-align: center;
    background-color: #121919;
    padding: 5px 15px 5px 15px;
    margin: 25px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid #06f7f7;
    color: #06f7f7;
}

#button:hover{
  background-color: #08555C;
  color: white;

}



header a.icon {
    display: none;
}

@media screen and (max-width: 770px) {
        .nav-bar a:not(:first-child) {
        display: none;
    }
    .nav-bar a.icon {
      display: block;
      float: right;
      margin-right: 15px;
      margin-top: 15px;
    }

header i.fa {
    font-weight: 900;
    font-size: 30px;
}

.headerlogo{
    margin-top: 16px;
}
  }

  @media screen and (max-width: 770px) {
  .nav-bar.responsive{
   display: flex;
   flex-direction: column;
  }
  

    .nav-bar.responsive a{
    display: block;
    align-self: center;
    margin-top: 25px;
    font-size: 1.05rem;
    padding: 5px;
    transition: all 2s ease-in-out;

       

  }

  .nav-bar.responsive a:first-child{
    margin-top: 0px;
    
  }
  .nav-bar.responsive a:last-child{
    margin-top: 0px;
    position: relative;

  }


}

/* Main Section */
.cover{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(images/main-bg-image.png) no-repeat center center fixed;
  background-size: cover;
}

.cover h1, .cover p{
  margin-left: 30px;
  color: rgb(180, 180, 180);
}

.cover h1{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}
.cover p{
  margin-top: 0px;
  font-weight: bold;
}

.cover .cover-anchor{
  text-decoration: none;
  color: #121919;
}

.cover .cover-button{
  text-align: center;
  background-color: #3FFDFF;
  padding: 16px 40px;
  margin: 20px;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;


}

@media screen and (max-width: 770px) {
  .cover{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

/* Ecosystem Projects with CSS Grid */
.main-content{
  margin: 50px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(250px, 0.9fr));
  gap: 60px;
}

.child{
  background-color: black;
  width: 100%;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  transition: all 0.5s;
}

.child:hover{
transform: scale(1.05);
cursor: pointer;
}

.grid-child p{
  text-justify: inter-word;

}
.grid-child h3, .grid-child p{
  text-align: center;
  text-transform: uppercase;

}

.grid-child img{
  max-width: 25%;
  max-height: 25%;
  margin-top: 10%;
  margin-left: 40%;
}

.grid-child a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
}

.grid-child a:hover{
  color: white;
}


.grid-child button.grid-button{
  text-align: center;
  background-color: #121919;
  padding: 10px 20px;
  margin: 15px 15px 15px 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: 1px solid #06f7f7;
  border-radius: 20px;
  margin-left: 30%;
  

}

.grid-child button:hover{
  background-color: black;
 
}

@media screen and (max-width: 775px) {
  #section2 button.grid-button {
    margin-left: 37%;
    
  }

}

@media screen and (max-width: 600px) {
  #section2 button.grid-button {
    margin-left: 30% !important;
    
  }

}


.main-content-button-container{
text-align: center;}

.main-content-button{
  text-align: center;
  background-color: #3FFDFF;
  padding: 16px 40px;
  margin: 20px;
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
}



.main-content-button a{
  text-decoration: none;
  color: #121919;
} 
 
@media screen and (max-width: 775px) {
  #section2 button.grid-button {
    margin-left: 37%;
    
  }
  .main-content-button{
    font-size: 12px;
    border-radius: 7px;
    padding: 10px 25px;
    margin-top: 5px;
  }
}

/* Footer Section */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: black;
  padding: 25px 0px;
}

.footer a{
  text-decoration: none;
  color: white;
  margin-left: 5%;
}