body{
    margin: 0px;
    background-color: #121919;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Nav Bar */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


  



.headerlogo{
    width: 115px;
    padding: 15px;
    filter: invert(26%) sepia(28%) saturate(1199%) hue-rotate(137deg) brightness(97%) contrast(97%);
    cursor: pointer;
}


.nav-links{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(180, 180, 180);

}

.nav-links:hover{
    color: #06f7f7;
}

#button{
    text-align: center;
    background-color: #121919;
    padding: 5px 15px 5px 15px;
    margin: 25px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid #06f7f7;
    color: #06f7f7;
}



header a.icon {
    display: none;
}

@media screen and (max-width: 770px) {
        .nav-bar a:not(:first-child) {
        display: none;
    }
    .nav-bar a.icon {
      display: block;
      float: right;
      margin-right: 15px;
      margin-top: 15px;
    }

header i.fa {
    font-weight: 900;
    font-size: 30px;
}

.headerlogo{
    margin-top: 16px;
}
  }

  @media screen and (max-width: 770px) {
  .nav-bar.responsive{
   display: flex;
   flex-direction: column;
  }
  

    .nav-bar.responsive a{
    display: block;
    align-self: center;
    margin-top: 25px;
    font-size: 1.05rem;
    padding: 5px;
    transition: all 2s ease-in-out;

       

  }

  .nav-bar.responsive a:first-child{
    margin-top: 0px;
    
  }
  .nav-bar.responsive a:last-child{
    margin-top: 0px;
    position: relative;

  }


}